* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.wrapper {
  background-image: url('./images/coldBackground.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
}

.wrapper.warm {
  background-image: url('./images/warmBackground.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.searchBox {
  width: 100%;
  margin: 0 0 75px;
}


.searchBox .searchInput {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5) none;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.searchBox .searchInput:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.locationWrapper .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.locationWrapper .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weatherWrapper {
  text-align: center;
}

.weatherWrapper .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weatherWrapper .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

/*
.icon{
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfkCQIQBgs7toSwAAABE0lEQVQoz3XRPS+DARiF4eutRiR+gHa1Gxo1WSQMDSmJSkhpjAwVC7+ik6jEYCti0ESIMFTSiUFpxGQwawdjRWKooR/awRmfcz/LfQLd7MIMSuS616CvHnasKaPxhwTdMmLVvBiqLp2otaCgXY85MOpaBXFz3mW9khPW+s4btOBZE0fG5e1bUWNgFzYkrHsyZcesL/debPryMCmMYUk3KqacimJRWtmtpEONkBkFMRWkREFUCo9iCqZD/ktbQEhJRlUcRR/gQxFxVRl3YTRc2RZXlraEc2UTEvY0Oh4izgzJetJEYFzet2X1joeaLXkXbVETZr3LqverHrHWo/pYvau6b6wC/WMNdIB7k/z49Oitd+5fw8VURiF4C3UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDktMDJUMTY6MDY6MTEtMDQ6MDBWbe/AAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTA5LTAyVDE2OjA2OjExLTA0OjAwJzBXfAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  float: right;
  margin: 17px 17px 17px 93%;
}
*/

